<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcp3project.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcp3project.Perspective"
            fixed="true"
            id="rcp3project.Perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="rcp3project.NavigationView"
            fastViewWidthRatio="0.15"
            id="rcp3project.NavigationView"
            name="Navi"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="rcp3project.Perspective">
         <view
               id="rcp3project.NavigationView"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         name="General"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="rcp3Project.NewFileAction"
                  icon="icons/newFile16x16.png"
                  label="New file"
                  style="push">
            </command>
            <command
                  commandId="rcp3Project.command2"
                  label="Open"
                  style="push">
            </command>
            <command
                  commandId="rcp3Project.command3"
                  icon="icons/eclipse16.png"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push"
                  tooltip="Exit programm">
            </command>
         </menu>
         <menu
               label="Edit">
            <menu
                  label="Group">
               <command
                     commandId="rcp3Project.command7"
                     label="New group"
                     style="push">
               </command>
               <command
                     commandId="rcp3Project.command8"
                     label="Edit group"
                     style="push">
               </command>
               <command
                     commandId="rcp3Project.command9"
                     label="Delete group"
                     style="push">
               </command>
            </menu>
            <menu
                  label="Student">
               <command
                     commandId="rcp3Project.command10"
                     label="New Student"
                     style="push">
               </command>
               <command
                     commandId="rcp3Project.command11"
                     label="Edit student"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ui.edit.delete"
                     id="Delete student"
                     label="Delete student"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ui.file.close"
                     id="CloseEditor"
                     label="Close current editor"
                     style="push">
               </command>
            </menu>
         </menu>
         <menu
               commandId="AboutWindowAction"
               id="AboutWindowAction"
               label="About">
            <command
                  commandId="AboutWindowAction"
                  icon="icons/eclipse16.png"
                  id="rcp3Project.AboutWindowAction"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI=" toolbar:org.eclipse.ui.main.toolbar">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rcp3project.FormEditor"
            default="false"
            id="rcp3project.FormEditor"
            name="name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ui.internal.handlers.SaveHandler"
            id="SaveRecordAction"
            name="Save Record">
      </command>
      <command
            id="RemoveRecordAction"
            name="Remove record">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>

</plugin>
