<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin id="my.plugin.id">

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcp3project.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcp3project.Perspective"
            fixed="true"
            id="rcp3project.Perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="rcp3project.NavigationView"
            fastViewWidthRatio="1"
            id="rcp3project.NavigationView"
            name="Explorer"
            restorable="true">
      </view>
      <view
            class="rcp3project.EmptyView"
            fastViewWidthRatio="0.75"
            id="rcp3project.EmptyView"
            inject="true"
            name="Noname"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="rcp3project.Perspective">
         <view
               closeable="false"
               id="rcp3project.NavigationView"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="rcp3project.EmptyView"
               minimized="false"
               ratio="0.75"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         name="General"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="rcp3Project.NewFileAction"
                  icon="icons/newFile16x16.png"
                  label="New file"
                  style="push">
            </command>
            <command
                  commandId="rcp3Project.ReadFileAction"
                  label="Open file"
                  style="push">
            </command>
            <command
                  commandId="rcp3Project.SaveFileAction"
                  icon="icons/eclipse16.png"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="rcp3Project.SaveAsFileAction"
                  icon="icons/saveRecord16x16.png"
                  label="Save as"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push"
                  tooltip="Exit programm">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="AddAction"
                  icon="icons/addRecord16x16.png"
                  label="New element"
                  style="push">
            </command>
            <command
                  commandId="RemoveRecordAction"
                  icon="icons/removeRecord16x16.png"
                  id="Delete element"
                  label="Delete element"
                  style="push">
            </command>
            <command
                  commandId="RenameFolderAction"
                  icon="icons/renameFolderAction16x16.png"
                  id="renameFolderAction"
                  label="Edit group"
                  style="push">
            </command>
            <command
                  commandId="SaveRecordAction"
                  icon="icons/saveRecord16x16.png"
                  label="Save student"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.close"
                  id="CloseEditor"
                  label="Close current element"
                  style="push">
            </command>
         </menu>
         <menu
               commandId="AboutWindowAction"
               id="AboutWindowAction"
               label="About">
            <command
                  commandId="AboutWindowAction"
                  icon="icons/eclipse16.png"
                  id="rcp3Project.AboutWindowAction"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI=" toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="rcp3Project.toolbar1"
               label="Default toolbar">
            <separator
                  name="rcp3Project.separator0">
            </separator>
            <command
                  commandId="rcp3Project.NewFileAction"
                  icon="icons/newFile16x16.png"
                  label="New File"
                  style="push"
                  tooltip="New File">
            </command>
            <separator
                  name="rcp3Project.separator1">
            </separator>
            <command
                  commandId="AddAction"
                  icon="icons/addRecord16x16.png"
                  label="Add object"
                  style="push"
                  tooltip="Add object">
            </command>
            <command
                  commandId="RemoveRecordAction"
                  disabledIcon="icons/removeRecord16x16.png"
                  icon="icons/removeRecord16x16.png"
                  label="Remove object"
                  style="push"
                  tooltip="Remove object">
            </command>
            <command
                  commandId="SaveRecordAction"
                  disabledIcon="icons/saveRecord16x16.png"
                  icon="icons/saveRecord16x16.png"
                  label="Save record"
                  style="push"
                  tooltip="Save record">
            </command>
            <command
                  commandId="RenameFolderAction"
                  disabledIcon="icons/renameFolderAction16x16.png"
                  icon="icons/renameFolderAction16x16.png"
                  label="Rename folder"
                  style="push"
                  tooltip="Rename folder">
            </command>
            <separator
                  name="rcp3Project.separator2">
            </separator>
         </toolbar>
      </menuContribution>
      
      //=================startContribution===================
      
      <menuContribution
            allPopups="true"
            locationURI="popup:rcp3project.NavigationView">
         <command
               commandId="OpenEditorAction"
               icon="icons/eclipse16.png"
               label="Open"
               style="push">
         </command>
         <command
               commandId="AddAction"
               icon="icons/addRecord16x16.png"
               label="Add object"
               style="push">
         </command>
         <command
               commandId="RemoveRecordAction"
               icon="icons/removeRecord16x16.png"
               label="Remove object"
               style="push">
         </command>
         <command
               commandId="RenameFolderAction"
               icon="icons/renameFolderAction16x16.png"
               label="Rename Action"
               style="push">
         </command>
         <menu
               label="tree">
            <command
                  commandId="ExpandTreeAction"
                  label="ExpandTreeAction"
                  style="radio">
            </command>
            <command
                  commandId="CollapseTreeAction"
                  label="CollapseTreeAction"
                  style="radio">
            </command>
         </menu>
  //================RadioContributionStart=======================       
         <separator
               name="ChangeTreeViewStatus.separator1"
               visible="true">
         </separator>
         
         <command
               commandId="radioStateParameter"
               id="ChangeTreeViewStatus.menu.radio1"
               label="Unchecked"
               style="radio">
			<parameter
                 	 name="org.eclipse.ui.commands.radioStateParameter"
               		 value="0">   
            </parameter>
         </command>
         <command
               commandId="radioStateParameter"
               id="ChangeTreeViewStatus.menu.radio2"
               label="Cheked"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="1">
            </parameter>
         </command>
         <command
               commandId="radioStateParameter"
               id="ChangeTreeViewStatus.menu.radio3"
               label="Denied"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="2">
            </parameter>
         </command>
         <separator
               name="ChangeTreeViewStatus.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:rcp3project.FormEditor">
         <command
               commandId="SaveRecordAction"
               id="SaveRecordAction"
               label="Save record"
               style="push">
         </command>
         <menu
               label="Collapse / expand tree">
            <command
                  commandId="ExpandTreeAction"
                  id="ExpandTreeAction"
                  label="Expand"
                  style="radio">
            </command>
            <command
                  commandId="CollapseTreeAction"
                  id="CollapseTreeAction"
                  label="Collapse"
                  style="radio">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rcp3project.FormEditor"
            default="true"
            id="rcp3project.FormEditor"
            name="name">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ui.internal.handlers.SaveHandler"
            description="Save Record"
            id="SaveRecordAction"
            name="Save Record">
      </command>
      
      <command
            id="RemoveRecordAction"
            name="Remove record">
      </command>
      
      <command
            id="AddAction"
            name="Add Action">
      </command>
      
      <command
            id="AddFolderAction"
            name="Add Folder">
      </command>
      
      <command
            id="RenameFolderAction"
            name="Rename Folder">
      </command>
      
      <command
            id="ExpandTreeAction"
            name="Expand tree">
      </command>
      
      <command
            id="CollapseTreeAction"
            name="Collapse">
      </command>
      
      <command
            id="OpenEditorAction"
            name="Open">
      </command>
 //===============Comand================================     
      <command
            defaultHandler="actions.EditMenu.RadioHandler"
            id="radioStateParameter"
            name="Radio Example">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="State"
               optional="false"
               values="MyStateParams">
         </commandParameter>
         <state
               class="org.eclipse.ui.handlers.RadioState: true"
               id="rcp3Project.state1">
         </state>
       </command>
      <command
            id="rcp3Project.SaveAsFileAction"
            name="Save as">
      </command>
      <command
            id="rcp3Project.ReadFileAction"
            name="Open file">
      </command>
      <command
            id="rcp3Project.SaveFileAction"
            name="Save file">
      </command>
      
   </extension>
   <extension
         id="actions.EditMenu.RadioHandler"
         name="MenuHandler"
         point="org.eclipse.ui.handlers">
      <handler
            class="actions.EditMenu.RadioHandler"
            commandId="radioStateParameter.radio">
      </handler>
   </extension>

</plugin>
